@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button, img, svg {
        @apply select-none
    }
}

html,
body,
:root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5B5B5D;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8A8B8C;
  }