@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button, img, svg {
        @apply select-none
    }
}

html,
body,
:root {
    height: 100%;
    background-color: black;
    color-scheme: dark;
}